html,
body {
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
  padding: 0;
  margin: 0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  background: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
